<div class="row menu">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: classement.isSet(0)}">
            <a ng-click="classement.setTab(0)" href="#">Mes amis</a>
        </li>
        <li role="presentation" ng-class="{active: classement.isSet(1)}">
            <a ng-click="classement.setTab(1)" href="#">Ma ville</a>
        </li>
        <li role="presentation" ng-class="{active: classement.isSet(2)}">
            <a ng-click="classement.setTab(2)" href="#">Classement Global</a>
        </li>
    </ul>
</div>
    <!-- Mes amis -->
    <div class="row" ng-show="classement.isSet(0)">
        <div class="col-lg-12 col-md-12">
            <table class="table">
                <thead>
                    <th>Position</th>
                    <th>Nombre de Point</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Récompense</th>
                </thead>
                <tbody>
                    <td>1</td>
                    <td>2456</td>
                    <td>Jean Neige</td>
                    <td>1</td>
                    <td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
                    <td>2</td>
                    <td>2456</td>
                    <td>Jean Neige</td>
                    <td>1</td>
                    <td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
                    <td>3</td>
                    <td>-100</td>
                    <td>Jean Neige</td>
                    <td>1</td>
                    <td><i class="fa fa-thumbs-down" aria-hidden="true"></i></td>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Ma Ville -->
<span ng-show="classement.isSet(1)">
    <div class="col-lg-12 col-md-12">
        <table class="table">
            <thead>
                <th>Position</th>
                <th>Nombre de Point</th>
                <th>Nom</th>
                <th>Prénom</th>
            </thead>
            <tbody>
                <td>1</td>
                <td>2456</td>
                <td>Jean Neige</td>
                <td>1</td>
            </tbody>
        </table>
    </div>
</span>

<!-- Classement Global -->
<span ng-show="classement.isSet(2)">
    <div class="col-lg-12 col-md-12">
        <table class="table">
            <thead>
                <th>Position</th>
                <th>Nombre de Point</th>
                <th>Nom</th>
                <th>Prénom</th>
            </thead>
            <tbody>
                <td>1</td>
                <td>2456</td>
                <td>Jean Neige</td>
                <td>1</td>
            </tbody>
        </table>
    </div>
</span>