<div class="row">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: classement.isSet(0)}">
            <a ng-click="classement.setTab(0)" href="#">Mes amis</a>
        </li>
        <li role="presentation" ng-class="{active: classement.isSet(1)}">
            <a ng-click="classement.setTab(1)" href="#">Ma ville</a>
        </li>
        <li role="presentation" ng-class="{active: classement.isSet(2)}">
            <a ng-click="classement.setTab(2)" href="#">Classement Global</a>
        </li>
    </ul>
</div>