
    <!-- Info relatif au trajet (ma tendance etc) -->
    <div class="panel panel-left">
        <div class="panel-heading">
            Mes Trajets
        </div>
        <div class="panel-body">

        </div>
    </div>

    <div class="panel badge red">
        <span class="points">
            {{ trajet.getSpeed() }}km/h
        </span>
        <span class="tendance">
            <i class="glyphicon glyphicon-arrow-right"></i>+2
        </span>
    </div>

    <!-- Ma position dans les divers classement -->
    <div class="panel panel-right clickable" ng-click="page.setPage(3)">
        <div class="panel-body">
            Terminer mon trajet
        </div>
    </div>
