
    <!-- Info relatif au trajet (ma tendance etc) -->
    <div class="panel panel-left clickable" ng-click="page.setPage(4)">
        <div class="panel-body">
            Mes Trajets
        </div>
    </div>

    <div class="panel badge" ng-class="{green : trajet.isUp(), blue : trajet.isNeutral(), red : trajet.isDown()}">
        <span class="points">
            {{ trajet.getSpeed() }}km/h
        </span>
        <span class="tendance">
            <i ng-show="trajet.isUp()" class="glyphicon glyphicon-arrow-right up"></i>
            <i ng-show="trajet.isDown()" class="glyphicon glyphicon-arrow-right down"></i>
            <i ng-show="trajet.isNeutral()" class="glyphicon glyphicon-arrow-right"></i>
            {{ trajet.getTendance() }}
        </span>
    </div>

    <!-- Ma position dans les divers classement -->
    <div class="panel panel-right clickable" ng-click="trajet.stop(); page.setPage(3)">
        <div class="panel-body">
            Terminer mon trajet
        </div>
    </div>