<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Matmut Drive</title>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="css/app.css">
    </head>
    <body ng-app="matmutDrive">
        <span ng-controller="pageController as page">
            <span ng-show="page.isSet(0)">
                <!-- Info relatif au trajet (ma tendance etc) -->
                <div>

                    <button class="btn btn-default" ng-click="page.setPage(1)">Démarrer mon trajet</button>
                </div>

                    <!-- Info liés au classement -->
                <div>
                    <!-- Ma position dans les divers classement -->
                    <button class="btn btn-default" ng-click="page.setPage(2)">Voir Plus</button>
                </div>
            </span>
            <span ng-show="page.isSet(1)">
                <classement-page></classement-page>
                <button class="btn btn-default" ng-click="page.setPage(0)">Retour accueil</button>
            </span>
            <span ng-show="page.isSet(2)">
                <trajet-page></trajet-page>
                <button class="btn btn-default" ng-click="page.setPage(0)">Retour accueil</button>
            </span>
        </span>
    </body>
</html>