<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Good Driving Challenge</title>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="css/app.css">
    </head>


    <body ng-app="matmutDrive">
        <span ng-controller="pageController as page">
            <nav class="navbar navbar-default header">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" ng-click="page.setPage(0)" href="#">Good Driving Challenge</a>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>

            
            <div class="container" ng-controller="accueilCtrl as accueil">
                <div class="row" ng-show="page.isSet(0)">
                    {{ accueil.getSentence() }}
                </div>
                <div class="row">
                    <!-- Panel -->
                    <span class="accueil" ng-show="page.isSet(0)">
                        <!-- Info relatif au trajet (ma tendance etc) -->
                        <div class="panel panel-left clickable" ng-click="page.setPage(4)">
                            <div class="panel-heading">
                                Mes Trajets
                            </div>
                        </div>

                        <!-- Aperçu des points actuels & tendance -->
                        <div class="panel badge clickable" ng-click="page.setPage(1)">
                            <span class="points">
                                {{ accueil.getGlobalPoint() }} Pts
                            </span>
                        </div>

                        <!-- Ma position dans les divers classement -->
                        <div class="panel panel-right clickable" ng-click="page.setPage(2)">
                            <div class="panel-heading">
                                Le classement
                            </div>
                        </div>
                    </span>

                    <!-- Pages à appeller -->
                    <span ng-show="page.isSet(1)">
                        <trajet-page></trajet-page>
                    </span>
                    <span class="classement" ng-show="page.isSet(2)">
                        <classement-page></classement-page>
                    </span>
                    <span ng-show="page.isSet(3)">
                        <resume-trajet-page></resume-trajet-page>
                    </span>
                    <span ng-show="page.isSet(4)">
                        <my-trajet-page></my-trajet-page>
                    </span>
                </div>
            </div>
        </span>
    </body>
</html>